#pageCommodityDetail .bottom-menu{display:none;}
#pageCommodityDetail #base{padding-bottom:0;}
#pageCommodityDetail .page-content{box-sizing:border-box;float:left;height:100%;width: 100%;padding-bottom:55px;}