/* Category/List CSS */
#pageCommodityIndex .weui_navbar{top:45px;}
#pageCommodityIndex .content{margin-bottom:50px;}
#pageCommodityIndex .centerbody{margin-top:45px;padding-top:0;}
#pageCommodityIndex .page-content{box-sizing:border-box;float:left;height:100%;width: 100%;position:relative;top:50px;}