@charset "utf-8";
/* CSS Document */

/*首页*/
.homebg{ position:relative;}
.hd_download{ position:relative; overflow:hidden;}
.hd_download .Close{ position:absolute; left:10px; top:30%; color:#d8d5d5; font-size:1.2rem;}
.homebanner{ height:auto; position:relative;}
.hanner-ico{ position:absolute; bottom:3%; left:0; right:0; text-align:center;}
.hanner-ico a{ display:inline-block; background:#FFF;border-radius:0.5rem; width:0.5rem; height:0.5rem; margin:0 3px;}
.hanner-ico a.now{ background:#ff6b13;}
.hanner-ico a span{ display:none;}
.homeico{ border-bottom:1px solid #e0e0e0; background:#FFF; padding:14px 0 4px 0; overflow:hidden;}
.homeico ul li{ float:left; width:25%; text-align:center; padding:0 0 10px 0;}
.homeico ul li span{ display:block; padding:0 20% 5px 20%;}
.homeico ul li a{ color:#565656;}
.homenews{ background:#FFF url(../images/news_ico.png) 10px 7px no-repeat;background-size: auto 20px; margin:0 0 10px 0; padding:7px 10px 7px 80px; height:20px; line-height:20px; font-size:0.9rem;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.homeseckill{ background:#FFF; margin:0 0 10px 0; padding:10px 0;}
.homeseckilltitle{ padding:0 10px 10px; height:30px; line-height:30px;}
.homeseckilltitle span.htitle{ background:url(../images/Clock_ico.png) no-repeat;background-size:20px auto; font-size:1.3em; color:#fa2731; font-weight:bold; font-style:italic; padding:0 0 0 22px;}
.homeseckilltitle a{ float:right; color:#ff4040;}
.homeseckilltitle a span{ padding:0 0 0 6px;}
.homeseckill .homeseckilllist{ overflow:hidden;}
.homeseckill .homeseckilllist ul li{ border-right:1px solid #e0e0e0; float:left; text-align:center;}
.homeseckill .homeseckilllist ul li a{ display:block; padding:0 8px;}
.homeseckill .homeseckilllist ul li a span{ display:block; color:#ff0000; font-size:1rem; padding:10px 0 0 0;}
.homeseckill .homeseckilllist ul li a em{text-decoration:line-through; font-style:inherit; color:#a2a1a1; font-size:0.8rem;}
.homebox { background:#FFF; display: flex;flex-direction: row;flex-wrap: wrap;box-sizing: border-box;border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0;}
.homebox .item { float:left; width:50%; flex: 0 0 50%;  box-sizing: border-box; border-left: 1px solid #e0e0e0; border-top: 1px solid #e0e0e0;}
.homebox .item .small:first-child { border-bottom: 1px solid #eee;}
.homebox .big { height: 50vw;}
.homebox .small { height: 25vw;}
.homebox .item.vw3{width:33.333%;flex: 0 0 33.33%;}
.homebox .center { height:33vw;}
.ad-banner{ padding:0 0 10px 0;}
.mall_title{ position:relative; height:1.9rem; font-size:1.1rem; font-weight:bold; text-align:center; margin:4px 0 0 0;}
.hometitle{ position:absolute; top:0; left:0; right:0; z-index:8; text-align:center;}
.mall_title span{background:#f4f4f4; padding:0 10px 0 34px; color:#fb3232;}
.line{ position:absolute; top:40%; left:18%; right:18%;z-index:7;border-top:1px solid #fb3232; height:4px;}
.mall_title span.titleico1{ background:#f4f4f4 url(../images/title-ico1.png) 8px 0 no-repeat;background-size:20px auto; color:#c046f8;}
.line.purple{ border-top:1px solid #c046f8;}
.mall_title span.titleico2{ background:#f4f4f4 url(../images/title-ico2.png) 8px 0 no-repeat;background-size:20px auto; color:#fb3232;}
.selectedtitle{ background:#FFF; overflow:hidden;}
.selectedtitle ul{ overflow:hidden;}
.selectedtitle ul li{ float:left; padding:0 10px;}
.selectedtitle ul li a{ display:block; color:#323232; padding:8px 0; font-size:1rem;}
.selectedtitle ul li a.now{ color:#ff6b13; border-bottom:2px solid #ff6b13;}
.selectedlist{ padding:5px 0 0 5px; overflow:hidden;}
.selectedlist .hprolist{ float:left; width:50%; padding:0 0 5px 0;}
.selectedlist .hprolist dl{ background:#fff; border-radius:4px; padding:5px; margin:0 5px 0 0;}
.selectedlist .hprolist dl dt{ font-size:0.8rem;}
.selectedlist .hprolist dl dt a{ color:#323232;}
.selectedlist .hprolist dl dt .name {color: #333;font-size: 14px; height:2.6em; line-height: 1.3em;-moz-box-orient: vertical; display: -webkit-box;overflow: hidden;text-overflow: ellipsis;}
.selectedlist .hprolist dl dd{ color:#ff6b13; line-height:28px; font-size:0.9rem; padding:8px 0 0 0;}
.selectedlist .hprolist dl dd a{ float:right; display:block; width:28px; height:28px;background:url(../images/Cart_ico.png) no-repeat;background-size:24px auto;}
/*首页广告*/
.hide{ background-color:rgba(0,0,0,0.7); position:fixed; top:0; left:0; width:100%; height:100%; z-index:9; display:block;}
.hidebody{position: absolute; top: 50%; left: 50%; width: 18rem;height: 12rem; -webkit-transform: translate(-50%,-50%);}
.Closeico{ position:absolute; right:0; top:-15px; width:1.6rem;}
/*大麦场*/
.MDC-AD{ background:#FFF; padding:10px 2px 10px 3px; overflow:hidden;}
.MDC-AD ul li{ width:33.33%; float:left;}
.MDC-AD ul li a{ display:block; padding:0 3px 0 2px;}
.DMC-list{ padding:0 10px; overflow:hidden;}
.DMC-title{background: url(../images/dmc-line.png) no-repeat;background-size:100% 100%; font-size:1.2rem; color:#fb3232; font-weight:bold; text-align:center;letter-spacing:0.2rem; padding:20px 0 16px 0;}
.DMC-title span{ color:#ff0000; font-weight:normal; font-size:1rem;}
.DMC-title span em{ margin:0 6px 0 0;}
.DMC-list dl{ background:#FFF; border:1px solid #e0e0e0; margin:0 0 10px 0;}
.DMC-list dl dt{ border-bottom:1px solid #e0e0e0;}
.DMC-list dl dd{ font-size:0.8rem; padding:8px 12px;}
.DMC-list dl dd a{ color:#565656;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.DMC-list dl dd span{ float:right; color:#ff0000; padding:0 0 0 20px;}
.DMC-list dl dd span em{ padding:0 6px 0 0; font-size:1.2em; float:left;}
/*限时抢购*/
.timetitle{ background:#323232;}
/*==========分类页==========================*/
#main{position: absolute; top: 47px; bottom: 57px; z-index: 1; width: 100%;  overflow: hidden;  background-color: #fff;}
.cla_left{width: 90px; position: absolute; left: 0; bottom: 0px; top: 0px; z-index: 1; overflow: auto; height: 100%;}
.cla_left li{background-color: #f8f8f8; border-right: 1px solid #e2e2e2; border-bottom: 1px solid #e2e2e2; text-align: center; line-height: 40px;}
.cla_left li.active{background-color: #fff; border-right: 1px solid #fff;}
.cla_left li.active a{color: #ff6b13;}
.cla_right{margin-left: 90px; padding: 0 10px; position: absolute; bottom: 20px; top: 0px;  height: 100%; overflow: auto; z-index: -1;}
.cla_title{border-top: 1px solid #e0e0e0; position: relative; line-height: 15px;height: 15px; margin-top: 20px;}
.cla_title h3{position: absolute; left: 50%; top: -8px; z-index: 0; background-color: #fff; padding: 0 10px; font-weight: normal;; font-size: 1em; margin-left: -42px;}
.pic-list{overflow: hidden; padding-bottom: 10px;}
.pic-list li{width: 33.3%; float: left;}
.pic-list li p{text-align: center;}
.pic-list li .price-now{color: #ff0000;}
.pic-list li .price-old{color: #a2a1a1; text-decoration: line-through; font-size: 12px;}

/*==========购物车==================================*/
.carEmpty{text-align: center;}
.carEmpty img{width: 35%;}
.carEmpty p{font-size: 1.2em; margin: 10px 0;}
.btn-orange{display: block; line-height: 3em; font-size: 1.2em; background-color: #ff6b13; border-radius: 3px; color: #fff; width: 35%; margin: 0 auto;}
.btn-orange:hover{color: #fff;}

.like-title{border-top: 1px solid #565656; position: relative; line-height: 15px;height: 15px; margin: 80px 10px 10px;}
.like-title h3{position: absolute; left: 50%; top: -6px; z-index: 0; background-color: #f4f4f4; padding: 0 10px; font-weight: normal;; font-size: 1.4em; margin-left: -42px;}





