#pageActivityCommodityDetail .bottom-menu{display:none;}
#pageActivityCommodityDetail #base{padding-bottom:0;}
#pageActivityCommodityDetail .page-content{box-sizing:border-box;float:left;height:100%;width: 100%;padding-bottom:55px;}